PORT=
MONGO_URL=
 DATABASE_URL=
JWT_SECRET=
CRYPTO_KEY=
SALT=
APP_PASSWORD=
APP_GMAIL=
MAIL_SERVICE=
APIKEY=
APISECRET=
PROVIDERURL=
COUNTRYCODE=
PAYMENT_TYPE=
N8N_URL=
STRIPE_SECRET=
WEBHOOK_SECRET=
  